<div class="form__container">
  <h1 class="form__container__header">{{ isEditMode ? ('DETALLE_TEAM.TITLE.EDIT' | translate) : ('DETALLE_TEAM.TITLE.ADD' | translate) }}</h1>
  <form [formGroup]="detailForm" class="form__container__form" (ngSubmit)="onSubmit()">
    <mat-card class="form__container__card">
      <mat-card-content class="form__container__content">
        <div class="form__container__content__fields">

          <mat-form-field class="form__container__content__fields-field">
            <mat-label>{{ 'DETALLE_TEAM.NOMBRE' | translate }}</mat-label>
            <input matInput formControlName="nombre" />
            <mat-error *ngIf="nombre?.invalid && nombre?.touched" color="warn">
              {{ getErrorMessage(nombre, 'NAME') | translate }}
            </mat-error>
          </mat-form-field>

          <mat-form-field class="form__container__content__fields-field">
            <mat-label>{{ 'DETALLE_TEAM.CATEGORIA' | translate }}</mat-label>
            <input matInput formControlName="categoria" />
            <mat-error *ngIf="categoria.invalid && categoria.touched" color="warn">
              {{ getErrorMessage(categoria, 'CATEGORIA') | translate }}
            </mat-error>
          </mat-form-field>
          <!--[acceptedTypes]="'.png,.jpg,.jpeg'"-->
          <mat-file-upload
          [labelText]="''"
          [selectButtonText]="'DETALLE_TEAM.SELECT_FILE' | translate"
          [uploadButtonText]="'DETALLE_TEAM.UPLOAD_FILE' | translate"
          [acceptedTypes]="'.jpg'"
          (selectedFilesChanged)="onFileSelected($event)"
          class="form__container__content__fields-field custom-toggle-field"
        >
        </mat-file-upload>

        <div class="form__container__content__fields-field custom-toggle-field">
          <ion-item>
            <ion-label>{{ 'DETALLE_TEAM.ACTIVO' | translate }}</ion-label>
            <ion-toggle formControlName="isActive" color="primary"></ion-toggle>
          </ion-item>
        </div>

        </div>
      </mat-card-content>
    </mat-card>
  </form>

  <mat-toolbar color="primary" class="actions-toolbar">
    <span class="spacer"></span>
    <button mat-raised-button (click)="onSubmit()">
      {{ 'TEAM_ACTIONS.SAVE' | translate }}
    </button>

    <button mat-raised-button class="button-secondary" (click)="onCancel()">
      {{ 'TEAM_ACTIONS.CANCEL' | translate }}
    </button>
  </mat-toolbar>
</div>
<div class="app-footer">
  <p>&copy; 2025 Todos los derechos reservados</p>
</div>
