<div class="resultados__container">
  <div class="horizontal-scroll" #scrollContainer>
    <div class="card-container" id="loopContainer">
      <ion-card *ngFor="let item of matchesScreen" class="custom-card">
        <div class="equipo-card">
            <div class="equipo-info">
              <img [src]="item.localTeam.icon" alt="Team Icon" class="team-icon" />
              <span class="team-name">{{ item.localTeam.name }}</span>
            </div>
            <div class="equipo-goles">
              <span class="goles">{{ item.localTeam.score}}</span>
            </div>
        </div>
        <div class="equipo-card">
          <div class="equipo-info">
            <img [src]="item.visitorTeam.icon" alt="Team Icon" class="team-icon" />
            <span class="team-name">{{ item.visitorTeam.name }}</span>
          </div>
          <div class="equipo-goles">
            <span class="goles">{{ item.visitorTeam.score }}</span>
          </div>
      </div>
      <div class="informacion-partido">
        <!-- Fecha del partido -->
        <div class="fecha-hora">
          <span>{{ item.date }}</span>
        </div>
      </div>
      </ion-card>
    </div>
  </div>


  <!--<p>
    Aquí se mostrará el carrusel de <strong>RESULTADOS</strong>
  </p>-->
</div>


