.resultados__container {
  padding: 15lvh 0 0 0;

  @media (max-width: 1023px) {
    padding: 8lvh 0 0 0;
  }
}

.horizontal-scroll {
  overflow-x: auto; /* Habilita desplazamiento horizontal */
  //overflow-x: scroll; /* Habilita el scroll horizontal */
  overflow-y: hidden; /* Oculta cualquier desbordamiento vertical */
  white-space: nowrap; /* Asegura que los elementos no salten de línea */
  scrollbar-width: none; /* Oculta la barra de scroll en navegadores modernos */
  -ms-overflow-style: none; /* Para navegadores IE y Edge */

  &::-webkit-scrollbar {
    display: none; /* Oculta la barra de scroll en navegadores WebKit */
  }

  .card-container {
    display: inline-flex; /* Coloca las tarjetas en línea horizontal */
    gap: 2px; /* Sin separación entre las tarjetas */
  }

  .custom-card {
    flex: 0 0 auto; /* Evita que las tarjetas cambien de tamaño */
    margin: 0; /* Sin márgenes entre tarjetas */
    width: 250px;
    height: auto; /* Define la altura de cada tarjeta */
    border-radius: 0; /* Quita bordes redondeados */
  }
  display: flex;
  position: relative;
}

.scroll-button {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 10;
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  border: none;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;

  &.left {
    left: 10px;
  }

  &.right {
    right: 10px;
  }
}

.equipo-card {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 8px;
  margin-bottom: 10px;
  background-color: #f9f9f9;
}

.equipo-info {
  display: flex;
  align-items: center;
}

.team-icon {
  width: 24px;
  height: 24px;
  margin-right: 10px;
  border-radius: 50%; /* Opcional, para hacer la imagen circular */
}

.team-name {
  font-size: 12px;
  font-weight: normal;
  color: #333;
}

.equipo-goles {
  font-size: 20px;
  font-weight: bold;
  color: #000;
  text-align: right;
}

.informacion-partido {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px; /* Separación respecto a las tarjetas */
  text-align: center;
  padding-bottom: 1lvh;
}

.fecha, .ubicacion, .descripcion {
  margin-bottom: 10px; /* Espaciado entre filas */
  font-size: 16px;
  font-weight: bold;
  color: #333;
}
