<ion-content>
  <ion-list class="equipo-list">
    <ion-header>
      <ion-toolbar>
        <ion-buttons slot="start">
          <ion-back-button
          defaultHref="/"
          icon="chevron-back"
          text=""
          (click)="goBack()">
        </ion-back-button>
        </ion-buttons>
        <!--<ion-title>{{ equipo.nombre }} &nbsp; {{ equipo.descripcion}}</ion-title>-->
        <ion-title>{{ 'TEAMS.PARTIDOS_LIST' | translate }}</ion-title>
        <ion-buttons slot="end">
          <ion-button id="admin-options" (click)="presentPopover($event)">
            <ion-icon name="ellipsis-vertical"></ion-icon>
          </ion-button>
        </ion-buttons>
      </ion-toolbar>
    </ion-header>
  </ion-list>
   <!-- Lista de partidos -->
   <ion-grid class="equipo-grid">
    <ion-row>
      <!-- Aquí mostramos los partidos -->
      <ion-col size="12" size-md="6" size-lg="4" *ngFor="let partido of partidos">
        <ion-card>
          <ion-card-header>
            <ion-card-title class="text-center">
              <div class="equipo-card">
                <ng-container *ngIf="partido.local; else label1equipoVisitante">
                  <!-- Contenido para equipo local -->
                  <img src="http://localhost:3000/pauldarrak/uploads/00.png" alt="Icono Local" style="width: 24px; height: 24px;" />
                  <span>{{ team.nombre }} &nbsp; {{ team.descripcion }} - {{ partido.goleslocal }}</span>
                </ng-container>
                <ng-template #label1equipoVisitante>
                  <!-- Contenido para equipo visitante -->
                  <ion-icon name="airplane" size="large"></ion-icon>
                  <span>{{ partido.rival }} - {{ partido.golesvisitante }}</span>
                </ng-template>
              </div>
              <!--<div class="equipo-card">

                <ion-icon name="person-circle" size="large"></ion-icon>
                <span>{{ partido.equipoLocal }} - {{ partido.golesLocal }}</span>
              </div>-->
            </ion-card-title>
          </ion-card-header>

          <ion-card-content>
            <!-- Goles del equipo visitante -->
            <div class="equipo-card">
              <ng-container *ngIf="partido.local; else label2equipoVisitante">
                <!-- Contenido para equipo local -->
                <ion-icon name="home" size="large"></ion-icon>
                <span>{{ partido.rival }} - {{ partido.golesvisitante }}</span>
              </ng-container>
              <ng-template #label2equipoVisitante>
                <!-- Contenido para equipo visitante -->
                <img src="http://localhost:3000/pauldarrak/uploads/00.png" alt="Icono Local" style="width: 24px; height: 24px;" />
                <span>{{ team.nombre }} &nbsp; {{ team.descripcion }} - {{ partido.goleslocal }}</span>

              </ng-template>
            </div>
            <!--<div class="equipo-card">
              <ion-icon name="person-circle" size="large"></ion-icon>
              <span>{{ partido.equipoRival }} - {{ partido.golesRival }}</span>
            </div>-->

            <!-- Estado del partido -->
            <div class="estado-partido">
              <!--<ion-label>{{ partido.estado }}</ion-label>-->
            </div>

            <!-- Fecha y hora -->
            <div class="fecha-hora">
              <ion-label>{{ partido.fecha | date:'short' }}</ion-label>
            </div>

            <!-- Ubicación del partido -->
            <div class="ubicacion">
              <ion-label>{{ partido.campo }}</ion-label>
              <!--<ion-button (click)="navegarAWaze(partido.ubicacion)">Ir</ion-button>-->
            </div>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>



