<ion-content>
  <ion-list class="equipo-list">
    <ion-header>
      <ion-toolbar>
        <ion-buttons slot="start">
          <ion-back-button
          defaultHref="/"
          icon="chevron-back"
          text=""
          (click)="goBack()">
        </ion-back-button>
        </ion-buttons>
        <ion-title>{{ 'TEAMS.PARTIDOS_LIST' | translate }}</ion-title>
        <ion-buttons slot="end">
          <ion-button id="admin-options" (click)="presentPopover($event)"  *ngIf="isTeamStaff">
            <ion-icon name="ellipsis-vertical"></ion-icon>
          </ion-button>
        </ion-buttons>
      </ion-toolbar>
    </ion-header>
  </ion-list>
   <!-- Lista de partidos -->
   <ion-grid class="equipo-grid">
    <ion-row>
      <!-- Aquí mostramos los partidos -->
      <ion-col size="12" size-md="6" size-lg="4" *ngFor="let partido of partidos">
        <ion-card   [class.selected]="partido === selectedPartido"
        (click)="selectCard(partido)">
          <ion-card-header>
            <ion-card-title class="text-center">
              <div class="equipo-card">
                <ng-container *ngIf="partido.local; else label1equipoVisitante">
                  <!-- Contenido para equipo local -->
                  <div class="equipo-info">
                    <img [src]="'http://localhost:3000' + partido.equipoicon" alt="Team Icon" class="team-icon" />
                    <span class="team-name">{{ partido.equipo.nombre }} &nbsp; {{ partido.equipo.descripcion }}</span>
                  </div>
                  <div class="equipo-goles">
                    <span class="goles">{{ partido.goleslocal }}</span>
                  </div>

                </ng-container>
                <ng-template #label1equipoVisitante>
                  <!-- Contenido para equipo visitante -->
                  <div class="equipo-info">
                    <img [src]="'http://localhost:3000' + partido.rival.image" alt="Team Icon" class="team-icon" />
                    <span class="team-name">{{ partido.rival.nombre }}</span>
                  </div>
                  <div class="equipo-goles">
                    <span class="goles">{{ partido.golesvisitante }}</span>
                  </div>
                </ng-template>
              </div>
            </ion-card-title>
          </ion-card-header>

          <ion-card-content>
            <!-- Goles del equipo visitante -->
            <div class="equipo-card">
              <ng-container *ngIf="partido.local; else label2equipoVisitante">
                <!-- Contenido para equipo local -->
                <div class="equipo-info">
                  <img [src]="'http://localhost:3000' + partido.rival.image" alt="Team Icon" class="team-icon" />
                  <span class="team-name">{{ partido.rival.nombre }}</span>
                </div>
                <div class="equipo-goles">
                  <span class="goles">{{ partido.golesvisitante }}</span>
                </div>
              </ng-container>
              <ng-template #label2equipoVisitante>
                <!-- Contenido para equipo visitante -->
                <div class="equipo-info">
                  <img [src]="'http://localhost:3000' + partido.equipoicon" alt="Team Icon" class="team-icon" />
                  <span class="team-name">{{ partido.equipo.nombre }} &nbsp; {{ partido.equipo.descripcion }}</span>
                </div>
                <div class="equipo-goles">
                  <span class="goles">{{ partido.goleslocal }}</span>
                </div>
              </ng-template>
            </div>

            <div class="informacion-partido">
              <!-- Fecha del partido -->
              <div class="fecha-hora">
                <span>{{ partido.fecha | date:'dd/MM/yyyy HH:mm' }}</span>
              </div>

              <!-- Ubicación del partido -->
              <div class="ubicacion">
                <span>{{ partido.campo }}</span>
              </div>

              <!-- Descripción -->
              <!--<div class="descripcion">
                <span>{{ partido.descripcion }}</span>
              </div>-->

              <!-- Iconos de navegación -->
              <div class="navegacion">
                <i class="fa-brands fa-waze icono-navegacion waze-icon" (click)="navegarAWaze(partido.coordenadas)"></i>
                <i class="fas fa-map-marker-alt icono-navegacion google-maps-icon" (click)="navegarAGoogleMaps(partido.coordenadas)"></i>
              </div>
            </div>

            <!-- Estado del partido -->
            <!--<div class="estado-partido">
              <ion-label>{{ partido.estado }}</ion-label>
            </div>-->
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>



