<ion-content>
  <ion-list class="equipo-list">
    <ion-header>
      <ion-toolbar>
        <ion-buttons slot="start">
          <ion-back-button
          defaultHref="/"
          icon="chevron-back"
          text=""
          (click)="goBack()">
        </ion-back-button>
        </ion-buttons>
        <ion-title>{{ 'TEAMS.PARTIDOS_LIST' | translate }}</ion-title>
        <ion-buttons slot="end">
          <ion-button id="admin-options" (click)="presentPopover($event)"  *ngIf="isTeamStaff">
            <ion-icon name="ellipsis-vertical"></ion-icon>
          </ion-button>
        </ion-buttons>
      </ion-toolbar>
    </ion-header>
  </ion-list>
   <!-- Lista de partidos -->
   <ion-grid class="equipo-grid">
    <ion-row>
      <!-- Aquí mostramos los partidos -->
      <ion-col size="12" size-md="6" size-lg="4" *ngFor="let item of matches">
        <ion-card  class="match-card">
          <div class="match-card__header">
            <span class="match-card__header-date">{{ item.fecha }}</span>
          </div>

          <div class="match-card__teams">
            <div class="match-card__team-container">
              <!-- Columna 1: Equipos -->
              <div class="match-card__team match-card__team--local">
                <img [src]="item.localTeam.icon" alt="Local Team Icon" class="match-card__team-icon" />
                <span *ngIf="item.localTeam.pauldarrak; else defaultNameList" class="match-card__team-name-bold">
                  {{ item.localTeam.name }}
                </span>
                <ng-template #defaultNameList>
                  <span class="match-card__team-name">
                    {{ item.localTeam.name }}
                  </span>
                </ng-template>
              </div>

              <div class="match-card__team match-card__team--visitor">
                <img [src]="item.visitorTeam.icon" alt="Visitor Team Icon" class="match-card__team-icon" />
                <span *ngIf="item.visitorTeam.pauldarrak; else defaultNameListV" class="match-card__team-name-bold">
                  {{ item.visitorTeam.name }}
                </span>
                <ng-template #defaultNameListV>
                  <span class="match-card__team-name">
                    {{ item.visitorTeam.name }}
                  </span>
                </ng-template>
              </div>
            </div>

            <!-- Columna 2: Score o Hora -->
            <div class="match-card__time-container">
              <ng-container *ngIf="item.localTeam.score === undefined || item.visitorTeam.score === undefined; else scores">
                <span class="match-card__time-text">{{ item.hora }}</span>
              </ng-container>
              <ng-template #scores>
                <div class="match-card__team-score-container">
                  <span class="match-card__team-score">{{ item.localTeam.score }}</span>
                  <span class="match-card__team-score">{{ item.visitorTeam.score }}</span>
                </div>
              </ng-template>
            </div>
          </div>


          <div class="match-card__field">
            <span class="match-card__field-name">{{ item.fieldName }}</span>
          </div>

          <div class="match-card__footer" >
            <i class="fa-brands fa-waze icono-navegacion waze-icon match-card__footer-icon" (click)="navegarAWaze(item.location)"></i>
            <i class="fas fa-map-marker-alt icono-navegacion google-maps-icon match-card__footer-icon" (click)="navegarAGoogleMaps(item.location)"></i>
          </div>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
  <div class="app-footer">
    <p>&copy; 2025 Todos los derechos reservados</p>
  </div>
</ion-content>



