.auth-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: auto 1em;

  ion-button {
    margin-top: 1em;
  }
}

.extra-options {
  display: block;
  margin-top: 1em;
}


.password-item {
  display: flex;
  align-items: center; /* Alinea los elementos de forma vertical */
}

.password-item ion-label {
  margin-right: 8px; /* Espaciado entre el label y el input */
}

.password-item ion-icon {
  font-size: 20px; /* Ajusta el tamaño del icono */
  cursor: pointer; /* Hace que el icono sea clickeable */
  margin-left: 8px; /* Espaciado entre el input y el icono */
}
