// For information on how to create your own theme, please see:
// http://ionicframework.com/docs/theming/

:root {
  --app-background-color: #005FEA; // Color de fondo del header
  --app-title-font-color: #FFFFFF;     // Color del texto del título
  --app-background-white-color: #FFFFFF;     // Color del texto del título
  --app-font-color-grey:#808080;
  --app-black-color:#000;
}




