<ion-content scroll-y="true">
  <div class="form__container">
    <h1 class="form__container__header">{{ 'SEARCH_STAFF.TITLE' | translate }}</h1>
    <form [formGroup]="searchFormStaffList" class="form__container__form">
      <mat-card class="form__container__card">
        <mat-card-content class="form__container__content">
          <div class="form__container__content__fields">

            <mat-form-field class="form__container__content__fields-field">
              <mat-label>{{ 'SEARCH_STAFF.NOMBRE' | translate }}</mat-label>
              <input matInput formControlName="nombre" />
            </mat-form-field>

            <mat-form-field class="form__container__content__fields-field">
              <mat-label>{{ 'SEARCH_STAFF.PRIMER_APELLIDO' | translate }}</mat-label>
              <input matInput formControlName="apellido1" />
            </mat-form-field>

            <mat-form-field class="form__container__content__fields-field">
              <mat-label>{{ 'SEARCH_STAFF.SEGUNDO_APELLIDO' | translate }}</mat-label>
              <input matInput formControlName="apellido2" />
            </mat-form-field>

          </div>
          <div class="form__container__content__buttons">
            <button mat-raised-button (click)="onSearch()" class="form__container__content__buttons-button">{{ 'SEARCH_STAFF.BUSCAR' | translate }}</button>
            <button mat-raised-button (click)="onClear()" class="form__container__content__buttons-button">{{ 'SEARCH_STAFF.LIMPIAR' | translate }}</button>
          </div>
        </mat-card-content>
      </mat-card>
    </form>

    <div class="form__container__table">
      <mat-card class="form__container__table__card">
        <mat-card-content>
          <div class="form__container__table__card__buttons">
            <button mat-raised-button (click)="onAdd()">{{ 'SEARCH_STAFF.AÑADIR' | translate }}</button>
          </div>

          <!-- staff-list.component.html -->
          <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
            <ng-container matColumnDef="imagen">
              <th mat-header-cell *matHeaderCellDef style="width: 10%;"> &nbsp; </th>
              <td mat-cell *matCellDef="let element"  style="text-align: center;">
                <img [src]="baseUrl + element.internalkey +'-100.webp'" alt="{{ element.nombre }}" class="image-preview"/>
              </td>
            </ng-container>

            <ng-container matColumnDef="apellido1" style="width: 20%;">
              <th mat-header-cell *matHeaderCellDef> {{ 'TABLE_STAFF.PRIMER_APELLIDO' | translate }} </th>
              <td mat-cell *matCellDef="let element"  style="text-align: left;"> {{element.apellido1}} </td>
            </ng-container>

            <ng-container matColumnDef="apellido2" style="width: 20%;">
              <th mat-header-cell *matHeaderCellDef> {{ 'TABLE_STAFF.SEGUNDO_APELLIDO' | translate }}</th>
              <td mat-cell *matCellDef="let element" style="text-align: left;"> {{element.apellido2}} </td>
            </ng-container>

            <ng-container matColumnDef="nombre" style="width: 20%;">
              <th mat-header-cell *matHeaderCellDef> {{ 'TABLE_STAFF.NOMBRE' | translate }} </th>
              <td mat-cell *matCellDef="let element" style="text-align: left;"> {{element.nombre}} </td>
            </ng-container>

            <ng-container matColumnDef="telefono" style="width: 10%;">
              <th mat-header-cell *matHeaderCellDef> {{ 'TABLE_STAFF.TELEFONO' | translate }} </th>
              <td mat-cell *matCellDef="let element"  style="text-align: right;"> {{element.telefono}} </td>
            </ng-container>

            <ng-container matColumnDef="admin" style="width: 5%;">
              <th mat-header-cell *matHeaderCellDef> {{ 'TABLE_STAFF.ADMIN' | translate }} </th>
              <td mat-cell *matCellDef="let element"  style="text-align: center;"> {{element.admin ? 'Sí' : 'No'}} </td>
            </ng-container>

            <ng-container matColumnDef="anadir">
              <th mat-header-cell *matHeaderCellDef  style="width: 5%;">&nbsp;</th>
              <td mat-cell *matCellDef="let element"  style="text-align: center;">
                <button mat-icon-button (click)="onAddTeam(element.id)">
                  <mat-icon>add</mat-icon>
                </button>
              </td>
            </ng-container>

            <ng-container matColumnDef="modificar">
              <th mat-header-cell *matHeaderCellDef style="width: 5%;">&nbsp;</th>
              <td mat-cell *matCellDef="let element"  style="text-align: center;">
                <button mat-icon-button (click)="onEdit(element.id)">
                  <mat-icon>edit</mat-icon>
                </button>
              </td>
            </ng-container>
            <ng-container matColumnDef="eliminar">
              <th mat-header-cell *matHeaderCellDef style="width: 5%;">&nbsp;</th>
              <td mat-cell *matCellDef="let element"  style="text-align: center;">
                <button mat-icon-button (click)="onDelete(element.id)">
                  <mat-icon>delete</mat-icon>
                </button>
              </td>
            </ng-container>
            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
          </table>

        <mat-paginator
        id="paginatorStaff"
          [length]="totalItems"
          [pageSize]="pageSize"
          [pageSizeOptions]="[1, 5, 10, 25, 50]"
          [pageIndex]="currentPage"
          (page)="onPageComboChange($event)"
          appPaginatorId="paginatorStaff"
          showFirstLastButtons>
        </mat-paginator>

        </mat-card-content>
      </mat-card>
    </div>
  </div>
</ion-content>
