
  <ion-list class="partido-list">
    <ion-header>
      <ion-toolbar>
        <ion-buttons slot="start">
          <ion-back-button
          defaultHref="/"
          icon="chevron-back"
          text=""
          (click)="goBack()">
        </ion-back-button>
        </ion-buttons>
        <ion-title>{{ 'TEAMS.NEW' | translate }}</ion-title>
      </ion-toolbar>
    </ion-header>
  </ion-list>
<!-- Formulario para registrar partido -->

<ion-content class="partido-form" scroll-y="true">
  <form [formGroup]="partidoForm" (ngSubmit)="registrarPartido()">
    <!-- Selección del equipo rival -->
    <ion-item>
      <ion-label>Equipo Rival</ion-label>
      <ion-select formControlName="equipoRival">
        <ion-select-option *ngFor="let rival of rivales" [value]="rival.id">{{ rival.nombre }}</ion-select-option>
      </ion-select>
    </ion-item>
    <!--<mat-error *ngIf="categoria.invalid && categoria.touched" color="warn"></mat-error>-->
    <ion-text color="danger" *ngIf="equipoRival.invalid && equipoRival.touched">
      {{ getErrorMessage(equipoRival, 'RIVAL') | translate }}
    </ion-text>
    <!-- Partido amistoso -->
    <ion-item>
      <ion-label>¿Es amistoso?</ion-label>
      <ion-toggle formControlName="isAmistoso"></ion-toggle>
    </ion-item>
    <!-- Local o visitante -->
    <ion-item>
      <ion-label>¿Local o Visitante?</ion-label>
      <ion-toggle formControlName="isAmistoso"></ion-toggle>
    </ion-item>

    <!-- Fecha y hora -->
    <ion-item>
      <ion-label>Fecha y Hora</ion-label>
      <ion-datetime formControlName="fechaHora"></ion-datetime>
    </ion-item>

    <!-- Ubicación -->
    <ion-item>
      <ion-label>Ubicación</ion-label>
      <ion-button (click)="abrirMapa()">Seleccionar Ubicación</ion-button>
    </ion-item>
    <!--<ion-text color="danger" *ngIf="partidoForm.get('equipoRival').invalid && partidoForm.get('equipoRival').touched">
      {{ getErrorMessage(partidoForm.get('equipoRival'), 'Equipo Rival') }}
    </ion-text>-->
    <ion-button expand="full" type="submit">Registrar Partido</ion-button>
  </form>
</ion-content>

