<!--<swiper-container
  [navigation]="false"
  [loop]="true"
  [spaceBetween]="10"
  [slidesPerView]="1"
  [pagination]="{ clickable: true }"

  class="custom-swiper">

  <swiper-slide *ngFor="let card of cards; trackBy: trackById"  (click)="onCardClick(card.id)">
    <div class="card">
      <img
        [src]="card.image.default"
        [srcset]="card.image.srcset"
        [sizes]="card.image.sizes"
        alt="Card image"
      />
      <div class="labels">
        <span class="label">{{ card.nombre }}</span>
        <span class="label">{{ card.categoria }}</span>
      </div>
    </div>
  </swiper-slide>
</swiper-container>-->

<!--<div class="cards-container">
  <div *ngFor="let card of visibleCards" class="card" (click)="onCardClick(card.id)">
    <img [src]="card.image.default" [srcset]="card.image.srcset" [sizes]="card.image.sizes" alt="Card image" />
    <div class="labels">
      <span class="label">{{ card.nombre }}</span>
      <span class="label">{{ card.categoria }}</span>
    </div>
  </div>
</div>-->

<div class="component-container">
  <!-- Contenedor de tarjetas -->
  <div class="cards-container">
    <div *ngFor="let card of visibleCards" class="card" (click)="onCardClick(card.id)">
      <div class="card-content">
        <img [src]="card.image.default" [srcset]="card.image.srcset" [sizes]="card.image.sizes" alt="Card image" class="card-image" />
        <div class="labels">
          <span class="label">{{ card.nombre }}</span>
          <span class="label">{{ card.categoria }}</span>
        </div>
      </div>
    </div>
  </div>

  <!-- Enlace inferior -->
  <div class="footer-link">
    <a [routerLink]="['/teams']" class="link">{{ 'TEAMS.MORE' | translate }}</a>
  </div>
</div>


