.orden-cell {
  display: flex;
  align-items: center; /* Centra verticalmente el contenido */
}

.orden-content {
  display: flex;
  align-items: center; /* Centra verticalmente texto e íconos */
}

button {
  margin-left: 8px; /* Espacio entre el texto y los íconos */
}

.image-preview {
  width: 50px; /* Ajusta el tamaño según sea necesario */
  height: auto; /* Mantiene la proporción */
}
