<ion-content scroll-y="true">
  <div class="form__container">
    <h1 class="form__container__header">{{ 'SEARCH_TEAM.TITLE' | translate }}</h1>
    <form [formGroup]="searchForm" class="form__container__form">
      <mat-card class="form__container__card">
        <mat-card-content class="form__container__content">
          <div class="form__container__content__fields">

            <mat-form-field class="form__container__content__fields-field">
              <mat-label>{{ 'SEARCH_TEAM.NOMBRE' | translate }}</mat-label>
              <input matInput formControlName="nombre" />
            </mat-form-field>

            <mat-form-field class="form__container__content__fields-field">
              <mat-label>{{ 'SEARCH_TEAM.CATEGORIA' | translate }}</mat-label>
              <input matInput formControlName="categoria" />
            </mat-form-field>

          </div>
          <div class="form__container__content__buttons">
            <button mat-raised-button (click)="onSearch()" class="form__container__content__buttons-button">{{ 'SEARCH_TEAM.BUSCAR' | translate }}</button>
            <button mat-raised-button (click)="onClear()" class="form__container__content__buttons-button">{{ 'SEARCH_TEAM.LIMPIAR' | translate }}</button>
          </div>
        </mat-card-content>
      </mat-card>
    </form>

    <div class="form__container__table">
      <mat-card class="form__container__table__card">
        <mat-card-content>
          <div class="form__container__table__card__buttons">
            <button mat-raised-button (click)="onAdd()">{{ 'SEARCH_TEAM.AÑADIR' | translate }}</button>
          </div>


          <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
            <ng-container matColumnDef="imagen">
              <th mat-header-cell *matHeaderCellDef> &nbsp; </th>
              <td mat-cell *matCellDef="let element">
                <img [src]="baseUrl + element.internalkey" alt="{{ element.nombre }}" class="image-preview"/>
              </td>
            </ng-container>


            <ng-container matColumnDef="nombre">
              <th mat-header-cell *matHeaderCellDef> {{ 'TABLE_TEAM.NOMBRE' | translate }} </th>
              <td mat-cell *matCellDef="let element"> {{element.nombre}}  </td>
            </ng-container>

            <ng-container matColumnDef="categoria">
              <th mat-header-cell *matHeaderCellDef> {{ 'TABLE_TEAM.CATEGORIA' | translate }} </th>
              <td mat-cell *matCellDef="let element"> {{element.descripcion}}  </td>
            </ng-container>

            <ng-container matColumnDef="orden">
              <th mat-header-cell *matHeaderCellDef>{{ 'TABLE_TEAM.ORDEN' | translate }}</th>
              <td mat-cell *matCellDef="let element" class="orden-cell">
                <div class="orden-content">
                  {{ element.orden }}
                  <button mat-icon-button (click)="moveUp(element.id)"
                          [disabled]="element.orden === 1">
                    <mat-icon>arrow_upward</mat-icon>
                  </button>
                  <button mat-icon-button (click)="moveDown(element.id)">
                    <mat-icon>arrow_downward</mat-icon>
                  </button>
                </div>
              </td>
            </ng-container>

            <ng-container matColumnDef="visible">
              <th mat-header-cell *matHeaderCellDef> {{ 'TABLE_TEAM.VISIBLE' | translate }}  </th>
              <td mat-cell *matCellDef="let element"> {{element.activo ? 'Sí' : 'No'}} </td>
            </ng-container>

            <ng-container matColumnDef="modificar">
              <th mat-header-cell *matHeaderCellDef>&nbsp;</th>
              <td mat-cell *matCellDef="let element">
                <button mat-icon-button (click)="onEdit(element.id)">
                  <mat-icon>edit</mat-icon>
                </button>
              </td>
            </ng-container>
            <ng-container matColumnDef="eliminar">
              <th mat-header-cell *matHeaderCellDef>&nbsp;</th>
              <td mat-cell *matCellDef="let element">
                <button mat-icon-button (click)="onDelete(element.id)">
                  <mat-icon>delete</mat-icon>
                </button>
              </td>
            </ng-container>
            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
          </table>

          <mat-paginator
          [length]="totalItems"
          [pageSize]="pageSize"
          [pageSizeOptions]="[1, 5, 10, 25, 50]"
          [pageIndex]="currentPage"
          (page)="onPageComboChange($event)"
          showFirstLastButtons>
        </mat-paginator>

        </mat-card-content>
      </mat-card>
    </div>
  </div>
</ion-content>
